#navbar-iframe{display:none;}
*{margin:0;padding:0;}
body#layout#feature{display:none;}
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,tt,u,ul,var{background:0 0;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
.body-fauxcolumn-outer,body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
td,th{padding:5px;}
.body-fauxcolumn-outer,body{background:#e9eaed;color:#666;font:400 12px 'Open Sans',Trebuchet MS,Sans-serif;}
body p{line-height:2em;padding-bottom:20px;}
#container{color:#444;font-family:Roboto,sans-serif;font-size:14px;font-weight:400;margin:0 auto;}
#content{display:inline;float:left;margin-top:-10px;padding:20px 0 10px;width:712px;}
#content-wide{clear:both;padding:10px 0;width:1060px;}
#aside{color:#ccc;display:inline;float:right;padding:10px 0;width:336px;}
#footer{background:#dfdfdf;clear:both;font-size:12px;overflow:hidden;}
.radius{border-radius:5px;moz-border-radius:5px;o-border-radius:5px;webkit-border-radius:5px;}
#main-top-nav{background-color:#fa3d03;float:left;margin:0 0 -1px 0;padding:0;position:relative;width:100%;z-index:999;}
#header-wrapper{min-height:90px;}
.head-col{padding:20px 0;}
#header{margin-top:-15px;}
#header h1{color:#666;letter-spacing:-2px;text-shadow:2px 2px 2px #FFF;}
#header a,#header a:hover{color:#666;text-decoration:none;}
#header .description{color:#888;font-family:Roboto,sans-serif;font-size:14px;line-height:1.4em;margin:-3px 5px 5px;}
.header{margin:35px 0;}
.descriptionwrapper p{margin-bottom:0;padding:0;}
.date-header{display:none;}
.post{line-height:1.5em;margin-bottom:10px;padding:10px 20px 20px 10px;}
.post-outer{line-height:2em;margin-bottom:10px;}
.post .post-text{clear:both;padding-bottom:5px;}
.post h2.post-title{font-family:Roboto,sans-serif;font-weight:700;letter-spacing:-1px;margin-top:0;}
.post h2 a{color:#353737;letter-spacing:-1px;}
.post h2 a:hover{color:#666;text-decoration:none;}
.post ul.post-meta{border-bottom:1px solid #222020;border-top:1px solid #222020;clear:both;color:#6b6969;font-size:12px;font-style:italic;list-style:none;overflow:hidden;padding:5px 0;}
.post ul.post-meta li{float:left;padding-right:20px;}
.post ul.post-meta a{color:#0b6e69;}
.post .post-comment{background:url(//1.bp.blogspot.com/_MkGBVwDEF84/TGedevmtX_I/AAAAAAAAEZY/I5fmryAKyP8/s1600/post_comment.jpg) no-repeat center;display:inline;float:right;margin-top:10px;padding:5px 0 10px;text-align:center;width:33px;}
.post h2,.post h3{color:#666;font-weight:400;padding:10px 0;}
.post h4,.post h5,.post h6{color:#666;font-size:14px;font-weight:400;padding:10px 0;}
.post blockquote{background:#ddd;color:#999;display:block;font-style:italic;margin:20px;padding:0 30px;}
.left{float:right;padding:20px 25px 0 0;width:300px;}
.sidebar h2{border-bottom:1px solid #ddd;color:#333;font-family:'Fauna One',serif;font-size:14px;font-weight:400;line-height:1.2em;margin-bottom:6px;margin-top:0;padding:10px;text-transform:uppercase;}
.sidebar .widget{font-size:12px;margin:0 0 10px;margin-bottom:20px;overflow:hidden;padding-bottom:10px;}
.sidebar .widget-content{font-size:12px;margin:0;padding:7px;}
.sidebar ul{font-family:Roboto,sans-serif;list-style-type:none;margin:0;padding:0;}
.sidebar ul a{color:#333;}
.sidebar ul a:hover{color:#666;}
.sidebar li{list-style-type:none;margin:0;padding:0;}
.sidebar ul li{border-bottom:1px solid #f9f9f9;clear:left;display:block;height:100%;line-height:22px;list-style-type:none;overflow:hidden;padding:0 0 0 10px;text-decoration:none;}
.sidebar a:hover{color:#D14F00;}
#comments{background:#fff;border:1px solid #ddd;border-radius:5px;box-shadow:1px 1px 2px 0 #d0d0d0;line-height:2em;margin-bottom:10px;moz-box-shadow:1px 1px 2px 0 #d0d0d0;webkit-box-shadow:1px 1px 2px 0 #d0d0d0;}
#comments h4{color:#333;font-family:Roboto,sans-serif;font-size:16px;font-weight:700;margin-top:10px;padding:10px;padding-left:20px;}
#comments-block{color:#7F7D77;line-height:1.6em;margin:1em 0 1.5em;}
#comments-block .comment-author{background:#dfdfdf none repeat scroll 0 0;border:1px solid #eaeaea;font-weight:700;margin:.5em 0;padding-bottom:4px;padding-left:8px;padding-top:4px;}
#comments-block .comment-body{background:#fff;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;margin-top:-8px;padding-left:10px;padding-top:10px;}
#comments-block .comment-footer{background:#fff;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;font-size:11px;line-height:1.4em;margin:-.25em 0 2em;padding-bottom:5px;padding-left:10px;text-transform:none;}
#comments-block .comment-body p{margin:0;padding-bottom:15px;}
#comment-holder{padding:10px 15px;}
.comments .comment-block,.comments .comment-thread.inline-thread .comment{background:#fff;}
#comments h4,.comments .comment-header,.comments .comment-thread.inline-thread .comment{position:relative;}
.comments .comments-content .icon.blog-author{background-image:url(//lh6.ggpht.com/-GDMurKK2tec/T5JCD6hoKoI/AAAAAAAABAc/COHOItBlFWk/author.png);height:36px;margin:0;position:absolute;width:36px;}
.comments .comment-replybox-thread{margin-top:5px;}
.comment-form{max-width:100%;}
.comments .comments-content .comment-content,.comments .comments-content .comment-header{border:1px solid #ddd;border-left:4px solid #222;border-radius:4px;border-top:2px solid #dfdfdf;margin:0 0 8px;padding:10px;}
.comments .comments-content .comment-thread ol{margin:0 0 10px!important;}
.comments .comments-content .icon.blog-author{right:-2px;top:-2px;}
.comments .comments-content .comment-thread{margin:0!important;}
.comments .comments-content .inline-thread{padding:0!important;padding-left:12px!important;}
.blog-feeds{display:none;}
.comment-actions a{background:#333;border:1px solid #ddd;border-radius:5px;color:#fff!important;display:inline-block;float:right;line-height:1.4;padding:7px 20px!important;vertical-align:middle;}
img.centered{display:block;margin:auto;}
img.alignright{display:inline;margin:0 0 10px 20px;}
img.alignleft{display:inline;margin:0 20px 10px 0;}
.alignleft{float:left;}
.alignright{float:right;}
.post-footer-line-1{display:none;}
#comments-block .avatar-image-container img{background:#fff url(//3.bp.blogspot.com/-UMSMHaOBzQg/To2XKFseUSI/AAAAAAAACVU/vlvJki_9vqA/s1600/gravatar.png) no-repeat left top;height:32px;width:32px;}
p.footer-link{background:#1B1B1B;border-top:5px solid #6cb2e4;clear:both;font-size:11px;line-height:18px;margin:0px;overflow:hidden;padding:20px;text-align:center;}
.post-header-home{margin:10px 20px;}
.post-header{border-bottom:1px solid #ddd;margin-bottom:20px;margin-top:10px;}
#related-posts li{border-bottom:1px solid #eee;display:block;float:left;margin-bottom:10px;margin-left:15px;padding-bottom:10px;width:47%;}
#related-posts{font-size:14px;line-height:20px;}
#related-posts h3{color:#333;font-size:18px;line-height:14px;margin:3px 0;position:relative;text-transform:capitalize;z-index:2;}
#related-posts img{moz-transition:all .1s ease-in-out;ms-transition:all .1s ease-in-out;opacity:1;o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;webkit-transition:all .1s ease-in-out;}
#related-posts a{background:#fff;border:1px solid #ddd;box-shadow:1px 1px 2px 0 #d0d0d0;margin:2px;moz-box-shadow:1px 1px 2px 0 #d0d0d0;text-align:center;webkit-box-shadow:1px 1px 2px 0 #d0d0d0;}
.imgpost{border:0 none;font-size:14px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:400;height:65px;line-height:25px;margin:3px 0 0;padding:0;width:193px;}
.status-msg-
body{position:relative!important;}
.CSS_LIGHTBOX{z-index:9999!important;}
.boxframe{box-sizing:border-box;position:relative;}
.boxframe:after,.boxframe:before{background:#fff;border:1px solid #bbb;border-top:0;box-shadow:0 0 3px rgba(0,0,0,.1);content:":"position:absolute;height:1px;}
.boxframe:before{bottom:-3px;left:3px;right:3px;}
.boxframe:after{bottom:-5px;box-shadow:0 0 3px rgba(0,0,0,.2);left:6px;right:6px;}
p.footer-link, #footer a{color:#646464}
.rmlink{float:right!important;}
.rmlink a{background:#333;border-radius:5px;box-shadow:0 2px 1px rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.2),inset 0 1px 0 0 rgba(255,255,255,.2);color:#fff;ms-box-shadow:0 2px 1px rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.2),inset 0 1px 0 0 rgba(255,255,255,.2);ms-text-shadow:0 1px 0 rgba(51,51,51,.9);ms-transition-duration:.4s;ms-transition-property:all;padding:8px 15px;text-shadow:0 1px 0 rgba(51,51,51,.9);text-transform:uppercase;transition-duration:.4s;transition-property:all;webkit-box-shadow:0 2px 1px rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.2),inset 0 1px 0 0 rgba(255,255,255,.2);webkit-text-shadow:0 1px 0 rgba(51,51,51,.9);webkit-transition-duration:.4s;webkit-transition-property:all;}
.rmlink a:hover{background:#444;color:#ddd!important;}
.jump-link{display:none;}
.label-size{margin:6px 0;}
#postsocial{background:padding-box #fff;border:1px solid #ddd;box-shadow:1px 0 5px rgba(0,0,0,.1);font:10px/16px Arial;margin-left:-94px;min-width:55px;moz-background-clip:padding;moz-box-shadow:1px 0 5px rgba(0,0,0,.1);padding:5px;position:absolute;top:150px;webkit-background-clip:padding-box;webkit-box-shadow:1px 0 5px rgba(0,0,0,.1);width:auto;}
#postsocial.fixed{position:fixed;top:150px;}
.postsocialbtn{height:auto;line-height:0;padding:4px 1px;text-align:center;width:auto;}
.post-feeds{display:none;}
.jqmaintitle{font-size:20px;margin:0;padding:10px 10px!important;}
.jqmaintitle a{color:#222!important;padding-bottom:6px;}
.jqmaintitle a:hover{color:#444!important;}
.main-top-nav{border-radius:0!important;z-index:10000;}
.post ul li{list-style:initial;margin-left:20px;}
.img-post-thumb{box-shadow:0 4px 4px -4px rgba(0,0,0,.7);webkit-box-shadow:0 4px 4px -4px rgba(0,0,0,.7);}
.btn-def{background:url(http://3.bp.blogspot.com/-F6JS0gzLxag/UwI54vaUTlI/AAAAAAAAATE/EEQ-eSyg-yc/s1600/search.png) no-repeat;background-color:transparent;border:none;color:transparent;display:inline-block;height:17px;margin-left:-30px;text-shadow:none;vertical-align:middle;width:16px;z-index:671;zoom:1;}
.form-main-search{padding-right:30px;}
.collapse{display:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
html{font-family:sans-serif;ms-text-size-adjust:100%;webkit-text-size-adjust:100%;}
body{margin:0;}
a{background:0 0;}
a:active,a:hover{outline:0;}
h1{margin:.67em 0;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
hr{box-sizing:content-box;height:0;moz-box-sizing:content-box;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}
legend{border:0;padding:0;}
button,input,select,textarea{margin:0;}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{box-sizing:content-box;moz-box-sizing:content-box;webkit-appearance:textfield;webkit-box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
@media print{*{background:transparent!important;box-shadow:none!important;color:#000!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
blockquote,pre{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
img,tr{page-break-inside:avoid;}
img{max-width:100%!important;}
@page{margin:2cm .5cm;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
select{background:#fff!important;}
.navbar{display:none;}
.table td,.table th{background-color:#fff!important;}
.btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important;}
.label{border:1px solid #000;}
.table{border-collapse:collapse!important;}
.table-bordered td,.table-bordered th{border:1px solid #ddd!important;}
}
*,:after,:before{box-sizing:border-box;moz-box-sizing:border-box;webkit-box-sizing:border-box;}
html{font-size:62.5%;webkit-tap-highlight-color:rgba(0,0,0,0);}
body{background-color:#fafafa;color:#141414;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:1.28;text-size-adjust:100%; min-width: 300px;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#4d8b97;text-decoration:none;}
a:focus,a:hover{color:#3374a2;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline:thin dotted;outline-offset:-2px;}
img{vertical-align:middle;}
.img-responsive{display:block;height:auto;max-width:100%;}
.img-rounded{border-radius:6px;}
.img-thumbnail{background-color:#fff;border:1px solid #ddd;border-radius:4px;display:inline-block;height:auto;line-height:1.428571429;max-width:100%;padding:4px;transition:all .2s ease-in-out;webkit-transition:all .2s ease-in-out;}
.img-circle{border-radius:50%;}
hr{border:0;border-top:1px solid #eee;margin-bottom:20px;margin-top:20px;}
.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{color:inherit;font-family:Roboto,sans-serif;font-weight:500;line-height:1.1;}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{color:#999;font-weight:400;line-height:1;}
h1,h2,h3{margin-bottom:10px;}
h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{font-size:65%;}
h4,h5,h6{margin-bottom:10px;margin-top:10px;}
h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-size:75%;}
.h1,h1{font-size:36px;}
.h2,h2{font-size:30px;}
.h3,h3{font-size:24px;}
.h4,h4{font-size:18px;}
.h5,h5{font-size:14px;}
.h6,h6{font-size:12px;}
p{margin:0 0 10px;}
.lead{font-size:16px;font-weight:200;line-height:1.4;margin-bottom:20px;}
@media (min-width:768px){.lead{font-size:21px;}
}
.small,small{font-size:85%;}
cite{font-style:normal;}
.text-muted{color:#999;}
.text-primary{color:#428bca;}
.text-primary:hover{color:#3071a9;}
.text-warning{color:#8a6d3b;}
.text-warning:hover{color:#66512c;}
.text-danger{color:#a94442;}
.text-danger:hover{color:#843534;}
.text-success{color:#3c763d;}
.text-success:hover{color:#2b542c;}
.text-info{color:#31708f;}
.text-info:hover{color:#245269;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.page-header{border-bottom:1px solid #eee;margin:40px 0 20px;padding-bottom:9px;}
ol,ul{margin-bottom:10px;margin-top:0;}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0;}
.list-inline,.list-unstyled{list-style:none;padding-left:0;}
.list-inline>li{display:inline-block;padding-left:5px;padding-right:5px;}
.list-inline>li:first-child{padding-left:0;}
dl{margin-bottom:20px;margin-top:0;}
dd,dt{line-height:1.428571429;}
dt{font-weight:700;}
dd{margin-left:0;}
@media (min-width:768px){.dl-horizontal dt{clear:left;float:left;overflow:hidden;text-align:right;text-overflow:ellipsis;white-space:nowrap;width:160px;}
.dl-horizontal dd{margin-left:180px;}
.dl-horizontal dd:after,.dl-horizontal dd:before{content:" ";display:table;}
.dl-horizontal dd:after{clear:both;}
}
abbr[data-original-title],abbr[title]{cursor:help;}
.initialism{font-size:90%;text-transform:uppercase;}
blockquote{border-left:5px solid #eee;margin:0 0 20px;padding:10px 20px;}
blockquote p{font-size:17.5px;font-weight:300;line-height:1.25;}
blockquote p:last-child{margin-bottom:0;}
blockquote .small,blockquote small{color:#999;display:block;line-height:1.428571429;}
blockquote .small:before,blockquote small:before{content:'\2014 \00A0';}
blockquote.pull-right{border-left:0;border-right:5px solid #eee;padding-left:0;padding-right:15px;}
blockquote.pull-right .small,blockquote.pull-right p,blockquote.pull-right small{text-align:right;}
blockquote.pull-right .small:before,blockquote.pull-right small:before{content:'';}
blockquote.pull-right .small:after,blockquote.pull-right small:after{content:'\00A0 \2014';}
blockquote:after,blockquote:before{content:"";}
address{font-style:normal;line-height:1.428571429;margin-bottom:20px;}
code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,"Courier New",monospace;}
code{background-color:#f9f2f4;border-radius:4px;color:#c7254e;font-size:90%;padding:2px 4px;white-space:nowrap;}
pre{background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px;color:#333;display:block;font-size:13px;line-height:1.428571429;margin:0 0 10px;padding:9.5px;word-break:break-all;word-wrap:break-word;}
pre code{background-color:transparent;border-radius:0;color:inherit;font-size:inherit;padding:0;white-space:pre-wrap;}
.pre-scrollable{max-height:340px;overflow-y:scroll;}
.thumbnail{background-color:#fff;border-radius:3px;box-shadow:0 1px 1px 0 rgba(0,0,0,.18);display:block;line-height:1.428571429;margin-bottom:20px;padding:0;transition:all .2s ease-in-out;webkit-transition:all .2s ease-in-out;}
.thumbnail a>img,.thumbnail>img{display:block;height:auto;margin-left:auto;margin-right:auto;max-width:100%;}
a.thumbnail.active,a.thumbnail:focus,a.thumbnail:hover{border-color:#428bca;}
.thumbnail .caption{color:#333;padding:9px;}
.well{min-height:20px;padding:10px;}
.well blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15);}
.well-lg{border-radius:6px;padding:24px;}
.well-sm{border-radius:3px;padding:9px;}
.clearfix:after,.clearfix:before{content:" ";display:table;}
.clearfix:after{clear:both;}
.center-block{display:block;margin-left:auto;margin-right:auto;}
.pull-right{float:right!important;}
.pull-left{float:left!important;}
.hide{display:none!important;}
.show{display:block!important;}
.invisible{visibility:hidden;}
.text-hide{background-color:transparent;border:0;color:transparent;font:0/0 a;text-shadow:none;}
.hidden{display:none!important;visibility:hidden!important;}
.affix{position:fixed;}
.h-title{font-family:Pacifico,cursive;font-size:30px;line-height:1.1;margin:5px 0;}
.h-title a{color:#666;}
.img-post-thumb:hover{opacity:.8;}
.homapge-thumb{margin:10px 0;}
.caret{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid;display:inline-block;height:0;margin-left:2px;vertical-align:middle;width:0;}
.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown-menu{background-clip:padding-box;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;box-shadow:0 6px 12px rgba(0,0,0,.175);display:none;float:left;font-size:14px;left:0;list-style:none;margin:2px 0 0;min-width:160px;position:absolute;top:100%;webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);z-index:1000;}
.dropdown-menu.pull-right{left:auto;right:0;}
.dropdown-menu .divider{background-color:#e5e5e5;height:2px;margin:9px 0;overflow:hidden;}
.dropdown-menu>li>a{border-bottom:1px solid #e4e4e4;clear:both;color:#333;display:block;font-weight:400;line-height:1.428571429;padding:8px 10px;white-space:nowrap;}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{background-color:#f5f5f5;color:#262626;text-decoration:none;}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{background-color:#428bca;color:#fff;outline:0;text-decoration:none;}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{color:#999;}
.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{background-color:transparent;background-image:none;cursor:not-allowed;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-decoration:none;}
.open>.dropdown-menu{display:block;}
.open>a{outline:0;}
.dropdown-header{color:#999;display:block;font-size:12px;line-height:1.428571429;padding:3px 20px;}
.dropdown-backdrop{bottom:0;left:0;position:fixed;right:0;top:0;z-index:990;}
.pull-right>.dropdown-menu{left:auto;right:0;}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-bottom:4px solid;border-top:0;content:"";}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{bottom:100%;margin-bottom:1px;top:auto;}
@media (min-width:768px){.navbar-right .dropdown-menu{left:auto;right:0;}
}
.nav{list-style:none;margin-bottom:0;padding-left:0;}
.nav:after,.nav:before{content:" ";display:table;}
.nav:after{clear:both;}
.nav>li{display:block;position:relative;}
.nav>li>a{display:block;padding:10px 15px;position:relative;}
.nav>li>a:focus,.nav>li>a:hover{background-color:#000;text-decoration:none;}
.nav>li.disabled>a{color:#999;}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{background-color:transparent;color:#999;cursor:not-allowed;text-decoration:none;}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:#eee;border-color:#428bca;}
.nav .nav-divider{background-color:#e5e5e5;height:1px;margin:9px 0;overflow:hidden;}
.nav>li>a>img{max-width:none;}
.nav-tabs{border-bottom:1px solid #ddd;}
.nav-tabs>li{float:left;margin-bottom:-1px;}
.nav-tabs>li>a{border:1px solid transparent;border-radius:4px 4px 0 0;line-height:1.428571429;margin-right:2px;}
.nav-tabs>li>a:hover{border-color:#eee #eee #ddd;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;color:#555;cursor:default;}
.nav-tabs.nav-justified{border-bottom:0;width:100%;}
.nav-tabs.nav-justified>li{float:none;}
.nav-tabs.nav-justified>li>a{margin-bottom:5px;text-align:center;}
.nav-tabs.nav-justified>.dropdown .dropdown-menu{left:auto;top:auto;}
@media (min-width:768px){.nav-tabs.nav-justified>li{display:table-cell;width:1%;}
.nav-tabs.nav-justified>li>a{margin-bottom:0;}
}
.nav-tabs.nav-justified>li>a{border-radius:4px;margin-right:0;}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:1px solid #ddd;}
@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0;}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom-color:#fff;}
}
.nav-pills,.nav-pills>li{float:left;}
.nav-pills>li>a{color:#fff;}
.nav-pills>li+li{margin-left:2px;}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{background:#222;border-radius:0;color:#fff;}
.nav-pills>li>a:focus,.nav-pills>li>a:hover{background-color:#222;text-decoration:none;}
.nav-stacked>li{float:none;}
.nav-stacked>li+li{margin-left:0;margin-top:2px;}
.nav-justified{width:100%;}
.nav-justified>li{float:none;}
.nav-justified>li>a{margin-bottom:5px;text-align:center;}
.nav-justified>.dropdown .dropdown-menu{left:auto;top:auto;}
@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%;}
.nav-justified>li>a{margin-bottom:0;}
}
.nav-tabs-justified{border-bottom:0;}
.nav-tabs-justified>li>a{border-radius:4px;margin-right:0;}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border:1px solid #ddd;}
@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0;}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border-bottom-color:#fff;}
}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
.nav-tabs .dropdown-menu{border-top-left-radius:0;border-top-right-radius:0;margin-top:-1px;}
.navbar{border:1px solid transparent;min-height:40px;position:relative;}
.navbar:after,.navbar:before{content:" ";display:table;}
.navbar:after{clear:both;}
@media (min-width:768px){.navbar{border-radius:4px;}
}
.navbar-header:after,.navbar-header:before{content:" ";display:table;}
.navbar-header:after{clear:both;}
@media (min-width:768px){.navbar-header{float:left;}
}
.navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,.1);max-height:340px;overflow-x:visible;padding-left:15px;padding-right:15px;webkit-overflow-scrolling:touch;}
.navbar-collapse:after,.navbar-collapse:before{content:" ";display:table;}
.navbar-collapse:after{clear:both;}
.navbar-collapse.in{overflow-y:auto;}
@media (min-width:768px){.navbar-collapse{border-top:0;box-shadow:none;width:auto;}
.navbar-collapse.collapse{display:block!important;height:auto!important;overflow:visible!important;padding-bottom:0;}
.navbar-collapse.in{overflow-y:visible;}
.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-left:0;padding-right:0;}
}
.container>.navbar-collapse,.container>.navbar-header{margin-left:-15px;margin-right:-15px;}
@media (min-width:768px){.container>.navbar-collapse,.container>.navbar-header{margin-left:0;margin-right:0;}
}
.navbar-static-top{border-width:0 0 1px;z-index:1000;}
@media (min-width:768px){.navbar-static-top{border-radius:0;}
}
.navbar-fixed-bottom,.navbar-fixed-top{left:0;position:fixed;right:0;z-index:1030;}
@media (min-width:768px){.navbar-fixed-bottom,.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{border-width:0 0 1px;top:0;}
.navbar-fixed-bottom{border-width:1px 0 0;bottom:0;margin-bottom:0;}
.navbar-brand{float:left;font-family:Roboto,sans-serif;font-size:15px;line-height:30px;padding:6px;text-transform:capitalize;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
@media (min-width:768px){.navbar>.container .navbar-brand{margin-left:-15px;}
}
.navbar-toggle{background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;float:right;margin-bottom:8px;margin-right:15px;margin-top:8px;padding:9px 10px;position:relative;}
.navbar-toggle .icon-bar{border-radius:1px;display:block;height:2px;width:22px;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:4px;}
@media (min-width:768px){.navbar-toggle{display:none;}
}
.navbar-nav{margin:7.5px -15px;}
.navbar-nav>li>a{line-height:20px;padding-bottom:10px;padding-top:10px;}
@media (max-width:767px){.navbar-nav .open .dropdown-menu{background-color:transparent;border:0;box-shadow:none;float:none;margin-top:0;position:static;width:auto;}
.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px;}
.navbar-nav .open .dropdown-menu>li>a{line-height:20px;}
.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none;}
}
@media (min-width:768px){.navbar-nav{float:left;margin:0;}
.navbar-nav>li{float:left;}
.navbar-nav>li>a{padding-bottom:11px;padding-top:11px;}
.navbar-nav.navbar-right:last-child{margin-right:-15px;}
}
@media (min-width:768px){.navbar-left{float:left!important;}
.navbar-right{float:right!important;}
}
.navbar-form{border-bottom:1px solid transparent;border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);margin-bottom:2px;margin-left:-15px;margin-right:-15px;margin-top:4px;padding:10px 15px;webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);}
@media (min-width:768px){.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle;}
.navbar-form .form-control{display:inline-block;}
.navbar-form select.form-control{width:auto;}
.navbar-form .checkbox,.navbar-form .radio{display:inline-block;margin-bottom:0;margin-top:0;padding-left:0;}
.navbar-form .checkbox input[type=checkbox],.navbar-form .radio input[type=radio]{float:none;margin-left:0;}
}
@media (max-width:767px){.navbar-form .form-group{margin-bottom:5px;}
}
@media (min-width:768px){.navbar-form{border:0;box-shadow:none;margin-left:0;margin-right:0;padding-bottom:0;padding-top:0;webkit-box-shadow:none;width:auto;}
.navbar-form.navbar-right:last-child{margin-right:-15px;}
}
.navbar-nav>li>.dropdown-menu{border-top-left-radius:0;border-top-right-radius:0;margin-top:0;}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{border-bottom-left-radius:0;border-bottom-right-radius:0;}
.navbar-nav.pull-right>li>.dropdown-menu,.navbar-nav>li>.dropdown-menu.pull-right{left:auto;right:0;}
.navbar-btn{margin-bottom:8px;margin-top:8px;}
.navbar-btn.btn-sm{margin-bottom:10px;margin-top:10px;}
.navbar-btn.btn-xs{margin-bottom:14px;margin-top:14px;}
.navbar-text{margin-bottom:15px;margin-top:15px;}
@media (min-width:768px){.navbar-text{float:left;margin-left:15px;margin-right:15px;}
.navbar-text.navbar-right:last-child{margin-right:0;}
}
.navbar-default{background:#222;background-image:linear-gradient(to bottom,#222,#111);background-image:-moz-linear-gradient(top,#222,#111);background-image:-o-linear-gradient(top,#222,#111);background-image:-webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));background-image:-webkit-linear-gradient(top,#222,#111);background-repeat:repeat-x;border:1px solid #222;border-bottom:none;}
.navbar-default .navbar-brand{color:#ddd;margin-left:0!important;}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#eee;}
.navbar-default .navbar-text{color:#777;}
.navbar-default .navbar-nav>li>a{color:#ddd;font-size:13px;text-transform:capitalize;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#fff;}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{background-color:transparent;color:#ccc;}
.navbar-default .navbar-toggle{border-color:#ddd;}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#ddd;}
.navbar-default .navbar-toggle .icon-bar{background-color:#ccc;}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#e7e7e7;}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{background:#000!important;color:#fff;}
@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{background-color:transparent;color:#333;}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{background-color:#e7e7e7;color:#555;}
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{background-color:transparent;color:#ccc;}
}
.navbar-default .navbar-link{color:#777;}
.navbar-default .navbar-link:hover{color:#333;}
.navbar-inverse{background-color:#222;border-color:#080808;}
.navbar-inverse .navbar-brand{color:#999;}
.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover{background-color:transparent;color:#fff;}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:#999;}
.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{background-color:transparent;color:#fff;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{background-color:#080808;color:#fff;}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover{background-color:transparent;color:#444;}
.navbar-inverse .navbar-toggle{border-color:#333;}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#333;}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color:#101010;}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{background-color:#080808;color:#fff;}
@media (max-width:767px){.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#080808;}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color:#080808;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#999;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{background-color:transparent;color:#fff;}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{background-color:#080808;color:#fff;}
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{background-color:transparent;color:#444;}
}
.navbar-inverse .navbar-link{color:#999;}
.navbar-inverse .navbar-link:hover{color:#fff;}
#list-main{float:left;margin:0 auto;padding-bottom:20px;}
.container,.container-fluid{margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1040px;}
}
.row{margin-left:-15px;margin-right:-15px;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{min-height:1px;padding-left:15px;padding-right:15px;position:relative;}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left;}
.col-xs-12{width:100%;}
.col-xs-11{width:91.66666667%;}
.col-xs-10{width:83.33333333%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.66666667%;}
.col-xs-7{width:58.33333333%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.66666667%;}
.col-xs-4{width:33.33333333%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.66666667%;}
.col-xs-1{width:8.33333333%;}
.col-xs-pull-12{right:100%;}
.col-xs-pull-11{right:91.66666667%;}
.col-xs-pull-10{right:83.33333333%;}
.col-xs-pull-9{right:75%;}
.col-xs-pull-8{right:66.66666667%;}
.col-xs-pull-7{right:58.33333333%;}
.col-xs-pull-6{right:50%;}
.col-xs-pull-5{right:41.66666667%;}
.col-xs-pull-4{right:33.33333333%;}
.col-xs-pull-3{right:25%;}
.col-xs-pull-2{right:16.66666667%;}
.col-xs-pull-1{right:8.33333333%;}
.col-xs-pull-0{right:0;}
.col-xs-push-12{left:100%;}
.col-xs-push-11{left:91.66666667%;}
.col-xs-push-10{left:83.33333333%;}
.col-xs-push-9{left:75%;}
.col-xs-push-8{left:66.66666667%;}
.col-xs-push-7{left:58.33333333%;}
.col-xs-push-6{left:50%;}
.col-xs-push-5{left:41.66666667%;}
.col-xs-push-4{left:33.33333333%;}
.col-xs-push-3{left:25%;}
.col-xs-push-2{left:16.66666667%;}
.col-xs-push-1{left:8.33333333%;}
.col-xs-push-0{left:0;}
.col-xs-offset-12{margin-left:100%;}
.col-xs-offset-11{margin-left:91.66666667%;}
.col-xs-offset-10{margin-left:83.33333333%;}
.col-xs-offset-9{margin-left:75%;}
.col-xs-offset-8{margin-left:66.66666667%;}
.col-xs-offset-7{margin-left:58.33333333%;}
.col-xs-offset-6{margin-left:50%;}
.col-xs-offset-5{margin-left:41.66666667%;}
.col-xs-offset-4{margin-left:33.33333333%;}
.col-xs-offset-3{margin-left:25%;}
.col-xs-offset-2{margin-left:16.66666667%;}
.col-xs-offset-1{margin-left:8.33333333%;}
.col-xs-offset-0{margin-left:0;}
@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left;}
.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.col-sm-pull-12{right:100%;}
.col-sm-pull-11{right:91.66666667%;}
.col-sm-pull-10{right:83.33333333%;}
.col-sm-pull-9{right:75%;}
.col-sm-pull-8{right:66.66666667%;}
.col-sm-pull-7{right:58.33333333%;}
.col-sm-pull-6{right:50%;}
.col-sm-pull-5{right:41.66666667%;}
.col-sm-pull-4{right:33.33333333%;}
.col-sm-pull-3{right:25%;}
.col-sm-pull-2{right:16.66666667%;}
.col-sm-pull-1{right:8.33333333%;}
.col-sm-pull-0{right:0;}
.col-sm-push-12{left:100%;}
.col-sm-push-11{left:91.66666667%;}
.col-sm-push-10{left:83.33333333%;}
.col-sm-push-9{left:75%;}
.col-sm-push-8{left:66.66666667%;}
.col-sm-push-7{left:58.33333333%;}
.col-sm-push-6{left:50%;}
.col-sm-push-5{left:41.66666667%;}
.col-sm-push-4{left:33.33333333%;}
.col-sm-push-3{left:25%;}
.col-sm-push-2{left:16.66666667%;}
.col-sm-push-1{left:8.33333333%;}
.col-sm-push-0{left:0;}
.col-sm-offset-12{margin-left:100%;}
.col-sm-offset-11{margin-left:91.66666667%;}
.col-sm-offset-10{margin-left:83.33333333%;}
.col-sm-offset-9{margin-left:75%;}
.col-sm-offset-8{margin-left:66.66666667%;}
.col-sm-offset-7{margin-left:58.33333333%;}
.col-sm-offset-6{margin-left:50%;}
.col-sm-offset-5{margin-left:41.66666667%;}
.col-sm-offset-4{margin-left:33.33333333%;}
.col-sm-offset-3{margin-left:25%;}
.col-sm-offset-2{margin-left:16.66666667%;}
.col-sm-offset-1{margin-left:8.33333333%;}
.col-sm-offset-0{margin-left:0;}
}
@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666667%;}
.col-md-10{width:83.33333333%;}
.col-md-9{width:75%;}
.col-md-8{width:66.66666667%;}
.col-md-7{width:58.33333333%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666667%;}
.col-md-4{width:33.33333333%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66666667%;}
.col-md-1{width:8.33333333%;}
.col-md-pull-12{right:100%;}
.col-md-pull-11{right:91.66666667%;}
.col-md-pull-10{right:83.33333333%;}
.col-md-pull-9{right:75%;}
.col-md-pull-8{right:66.66666667%;}
.col-md-pull-7{right:58.33333333%;}
.col-md-pull-6{right:50%;}
.col-md-pull-5{right:41.66666667%;}
.col-md-pull-4{right:33.33333333%;}
.col-md-pull-3{right:25%;}
.col-md-pull-2{right:16.66666667%;}
.col-md-pull-1{right:8.33333333%;}
.col-md-pull-0{right:0;}
.col-md-push-12{left:100%;}
.col-md-push-11{left:91.66666667%;}
.col-md-push-10{left:83.33333333%;}
.col-md-push-9{left:75%;}
.col-md-push-8{left:66.66666667%;}
.col-md-push-7{left:58.33333333%;}
.col-md-push-6{left:50%;}
.col-md-push-5{left:41.66666667%;}
.col-md-push-4{left:33.33333333%;}
.col-md-push-3{left:25%;}
.col-md-push-2{left:16.66666667%;}
.col-md-push-1{left:8.33333333%;}
.col-md-push-0{left:0;}
.col-md-offset-12{margin-left:100%;}
.col-md-offset-11{margin-left:91.66666667%;}
.col-md-offset-10{margin-left:83.33333333%;}
.col-md-offset-9{margin-left:75%;}
.col-md-offset-8{margin-left:66.66666667%;}
.col-md-offset-7{margin-left:58.33333333%;}
.col-md-offset-6{margin-left:50%;}
.col-md-offset-5{margin-left:41.66666667%;}
.col-md-offset-4{margin-left:33.33333333%;}
.col-md-offset-3{margin-left:25%;}
.col-md-offset-2{margin-left:16.66666667%;}
.col-md-offset-1{margin-left:8.33333333%;}
.col-md-offset-0{margin-left:0;}
}
@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left;}
.col-lg-12{width:100%;}
.col-lg-11{width:91.66666667%;}
.col-lg-10{width:83.33333333%;}
.col-lg-9{width:75%;}
.col-lg-8{width:66.66666667%;}
.col-lg-7{width:58.33333333%;}
.col-lg-6{width:50%;}
.col-lg-5{width:41.66666667%;}
.col-lg-4{width:33.33333333%;}
.col-lg-3{width:25%;}
.col-lg-2{width:16.66666667%;}
.col-lg-1{width:8.33333333%;}
.col-lg-pull-12{right:100%;}
.col-lg-pull-11{right:91.66666667%;}
.col-lg-pull-10{right:83.33333333%;}
.col-lg-pull-9{right:75%;}
.col-lg-pull-8{right:66.66666667%;}
.col-lg-pull-7{right:58.33333333%;}
.col-lg-pull-6{right:50%;}
.col-lg-pull-5{right:41.66666667%;}
.col-lg-pull-4{right:33.33333333%;}
.col-lg-pull-3{right:25%;}
.col-lg-pull-2{right:16.66666667%;}
.col-lg-pull-1{right:8.33333333%;}
.col-lg-pull-0{right:0;}
.col-lg-push-12{left:100%;}
.col-lg-push-11{left:91.66666667%;}
.col-lg-push-10{left:83.33333333%;}
.col-lg-push-9{left:75%;}
.col-lg-push-8{left:66.66666667%;}
.col-lg-push-7{left:58.33333333%;}
.col-lg-push-6{left:50%;}
.col-lg-push-5{left:41.66666667%;}
.col-lg-push-4{left:33.33333333%;}
.col-lg-push-3{left:25%;}
.col-lg-push-2{left:16.66666667%;}
.col-lg-push-1{left:8.33333333%;}
.col-lg-push-0{left:0;}
.col-lg-offset-12{margin-left:100%;}
.col-lg-offset-11{margin-left:91.66666667%;}
.col-lg-offset-10{margin-left:83.33333333%;}
.col-lg-offset-9{margin-left:75%;}
.col-lg-offset-8{margin-left:66.66666667%;}
.col-lg-offset-7{margin-left:58.33333333%;}
.col-lg-offset-6{margin-left:50%;}
.col-lg-offset-5{margin-left:41.66666667%;}
.col-lg-offset-4{margin-left:33.33333333%;}
.col-lg-offset-3{margin-left:25%;}
.col-lg-offset-2{margin-left:16.66666667%;}
.col-lg-offset-1{margin-left:8.33333333%;}
.col-lg-offset-0{margin-left:0;}
}
#container{max-width:1040px;}
.img-home-thumb{height:154px;width:200px;}
.hash-home{float:left;margin-right:4px;}
.comment-link{float:right;}
.form-control{background-color:#fff;background-image:none;border:1px solid #EEE;border:none;border-radius:4px;color:#555;display:block;font-size:14px;line-height:1.428571429;padding:5px;vertical-align:middle;width:100%;}
.form-control:focus{border-color:#66afe9;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);outline:0;webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.rowpost{border-radius:3px;margin:0!important;padding:10px 0 6px;}
.post-sharing-menu{height:50px;padding:5px;}
.post-sharing-menu li{display:block;float:left;margin:0 10px 0 0!important;margin-right:5px;padding:5px 0;}
.btn-danger{background:#333;border:1px solid #ddd;border-radius:5px;box-shadow:1px 1px 2px 0 #d0d0d0;color:#fff;moz-box-shadow:1px 1px 2px 0 #d0d0d0;padding:8px 36px;webkit-box-shadow:1px 1px 2px 0 #d0d0d0;}
.btn-danger:hover{color:#ddd;}
.btn-email{background:#2980b9;box-shadow:none;color:#ddd;margin-top:10px;padding:8px;width:100%;}
#blog-pager{margin:1em 0;overflow:hidden;padding:10px 0;text-align:center;}
#sidebar .list-label-widget-content ul li{border:0!important;margin:0!important;padding:3px!important;width:100%;}
#sidebar .list-label-widget-content ul li a{background-color:#fff;border:0;border-radius:0;color:#666!important;font-size:13px;padding:8px 10px;width:100%;}
#sidebar .list-label-widget-content ul li span{background-color:#222!important;border:0;border-radius:0;color:#fff!important;float:left;font-size:13px;padding:8px 10px;width:100%;}
#sidebar .list-label-widget-content ul li a:hover{color:#2ea2cc!important;}
.list-label-widget-content ul li{border:0!important;float:left;margin:0!important;padding:3px!important;}
.list-label-widget-content ul li a{background:#222;border:1px solid #ddd;border-radius:4px;color:#fff!important;float:left;font-size:13px;padding:8px 10px;text-transform:uppercase;}
.list-label-widget-content ul li span{background:#fff;border:1px solid #222;border-radius:4px;color:#222;float:left;font-size:13px;padding:8px 10px;text-transform:uppercase;}
.share_pfb:hover,.share_pgo:hover,.share_pli:hover,.share_ptwi:hover{color:#fff!important;}
.share_pfb,.share_pgo,.share_pli,.share_ptwi{border-radius:3px;color:#fff;float:left;font-size:15px;line-height:20px;padding:6px 24px;}
.share_pfb{background:#4c66a4;}
.share_ptwi{background:#00c3f3;}
.share_pli{background:#0274B3;}
.share_pgo{background:#DB4A37;}
.footer-top{background:#fff;}
.footer-top h2{border-bottom:1px solid #D3D3D3;border-left:5px solid #222;color:#222;font-family:'Fauna One',serif;font-size:18px;font-weight:400;line-height:1.2em;margin-bottom:6px;margin-top:10px;padding:10px;text-transform:uppercase;}
.blog-pager-element a{background:#222;border-radius:5px;color:#fff;font-weight:700;margin-right:5px;padding:8px 15px;text-transform:uppercase;}
.feed-links{display:none;}
.blogger-pager a{color:#fff!important;float:left;font-size:15px;padding-left:15px;padding-right:15px;}
.blog-pager-p{background:#777;border-radius:5px;color:#fff;float:left;font-size:15px;font-weight:700;margin-right:5px;padding:8px 15px;text-transform:uppercase;}
.blogger-pager a{text-decoration:none;}
.blogger-pager{float:left;width:100%;}
ul.nav li.dropdown:hover>ul.dropdown-menu{display:block;}
.post-div{margin:0 0 20px;position:relative;border-bottom:1px solid #ddd;}
.post-header-label{border-top:1px solid #eee;font-size:12px;padding:20px; display:none;}
.post-header-label, .post-header-label a, .post-header .post-labels a {color:#888;}
.s-clear{clear:both;}
.PopularPosts .widget-content ul li{border-bottom:1px solid #ddd;margin-bottom:10px;}
.PopularPosts img{border-radius:10px;padding:3px;}
.Navbar{display:none;}
.post-div img, .post img{max-width:100%;}
.container.page{padding-top:15px;}
#HTML1{padding-bottom:0px;}
.fb-cmts {min-height:40px; position:relative; margin-bottom:-30px; margin-top:15px;}
.fb-cmts-hover {background-color:#fafafa; height:15px; width:200px; z-index:1000; position:absolute;}